@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f8f8f8;
    font-family: "DynaPuff";
}

a{
    text-decoration: none;
    color: #f8f8f8;
}

#header{
    background-color: rgb(111, 140, 173);
    height: 100px;
    color:#f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "DynaPuff";
}

.patas{
    height: 30px;
    color: #f8f8f8;
    margin: 15px;
}
li{
    list-style: none;
}
.animais{
    width: 250px;
    height: 250px;
    border: 2px solid rgba(0, 0, 0, 0.418);
}

#section{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 500px 500px 500px;
    grid-template-areas: 'article1 article2 article3'
                            'article4 article5 article6'
                            'article7 article8 article9';
    row-gap: 100px;
    column-gap: 200px;
    justify-content: center;
    margin: 100px;
}

.articles{
    width: 400px;
    height: 500px;
    background-color: #126b944d;
    display:flex;
    justify-content: center;
    padding-top: 30px;
    border: 2px solid rgba(0, 0, 0, 0.418);
}

.sobreAnimal{
    width: 250px;
    text-align: center;
    color:rgba(0, 0, 0, 0.8);
}

.sobreEsquerda{
    text-align: left;
}

.botao {
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-family: "DynaPuff";
    background-color: rgba(9, 170, 233, 0.363);
    color:#f8f8f8;
    margin-top: 6px;
}

.botao:hover{
    background-color:rgba(88, 27, 231, 0.363);
    transform: scale(1.15);
    transition: 0.5s;
}

#article1{
    grid-area: article1;

}

#article2{
    grid-area: article2;
}

#article3{
    grid-area: article3;
}

#article4{
    grid-area: article4;
}

#article5{
    grid-area: article5;
}

#article6{
    grid-area: article6;
}

#article7{
    grid-area: article7;
}

#article8{
    grid-area: article8;
}

#article9{
    grid-area: article9;
}

#footer {
    background-color: rgb(111, 140, 173);
    height: 100px;
    color:#f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "DynaPuff";
    font-size: 16px;
}

#about {
    font-size: 30px;
    display: block;
    text-align: center;
}

#about:hover{
    color:rgba(88, 27, 231, 0.363);
}

@media(max-width: 1366px) { 
    .animais{
        width: 200px;   
        height: 200px;  
    }
    #section{
        row-gap: 75px;  
        column-gap: 150px;  
        margin: 75px;   
    }
    
    .articles{
        width: 300px;   
        height: 500px;
        padding-top: 30px;
    }

    .sobreAnimal{
        width: 200px;
    }
}

@media(max-width: 768px){
    .animais{
        width: 140px;
        height: 140px;
    }

    #section{
        row-gap: 35px;
        column-gap: 36px;
        margin: 40px;
    }

    .articles{
        width: 225px;
        height: 450px;
        padding-top: 25px;
    }  

    .sobreAnimal{
        width: 180px;
    } 
}

@media(max-width: 425px){
#section{
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 'article1'
                            'article2'
                            'article3'
                            'article4'
                            'article5'
                            'article6'
                            'article7'
                            'article8'
                            'article9';
}
}
